:root {
    --wsd-primary-color: #000;
    --wsd-secondory-color: #e20946;
}

.single-promo h5 {
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 0.9em;
    /*letter-spacing: -1.6px;*/
}

.emphasize {
    font-size: 6rem !important;
}

.btn, .btn:active, .btn.btn-bordered:before, .btn.btn-bordered-white:after {
    background: var(--wsd-primary-color);
}


.color-2.bg-hover:hover::after, .color-2.bg-hover.active::after {
    background-color: var(--wsd-primary-color);
}

.color-1.bg-hover:hover::after, .color-1.bg-hover.active::after {
    background-color: var(--wsd-secondory-color);
}

.nav-link:hover {
    color: var(--wsd-secondory-color);
}

.dropdown-menu {
    border-radius: 0;
}

.navbar-expand {
    padding: 10px 25px;
}

.navbar-brand-sticky {
    width: 150px;
}

.navbar-expand.navbar-sticky .navbar-nav .nav-link:hover {
    color: var(--wsd-secondory-color);
}

.navbar-expand.navbar-sticky .navbar-nav .nav-link.active {
    color: var(--wsd-secondory-color);
}

.navbar-expand .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, .75);
}

.navbar-expand .navbar-nav .dropdown-menu  .nav-link.active {
    color: var(--wsd-secondory-color);
}


.prj-modal {
    display: flex;
}
@media (max-width: 700px) {
    .prj-modal {
        display: block;
    }
}

.prj-modal-banner {
    min-width: 250px;
    background: url("assets/img1/project-side-img.avif") no-repeat scroll center center / cover;
    background-size: cover;
    /*min-height: 640px;*/
}


.prj-modal-content {
    max-height: 500px;
    overflow-y: scroll;
    background: url("assets/img1/heroBG.avif") no-repeat scroll center center;
}

.btn-primary:hover {
    background: var(--wsd-secondory-color);
}